{{>layout/header}}

<div class="container conHeight">
    <div class="page-header">
        <h1>상품 목록</h1>
    </div>
    <div class="pull-left searchProduct">
        <input type="text" class="" id="inputName" name="inputName" placeholder="상품이름으로 검색"/>
        <a id="searchProduct" type="button" class="btn btn-default"><i class="fa fa-search"></i></a>
    </div>
    <div class="pull-right" style="width: 100px; margin:10px 0;">
        <a href="/manage/products/save" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>상품 등록</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-md-1 bl-none">#</th>
                <th class="col-md-3">상품 이름</th>
                <th class="col-md-2">재고 수량</th>
                <th class="col-md-2">가격</th>
                <th class="col-md-2">원가</th>
                <th class="col-md-2">유통 기한</th>
                <th class="col-md-1 br-none">삭제</th>
            </tr>
            </thead>
            <tbody>
            {{#productList}}
            <tr class="text-center">
                <td class="bl-none">{{id}}</td>
                <td><a href="/manage/products/{{id}}">{{name}}</a></td>
                <td>{{amount}}</td>
                <td>{{price}}</td>
                <td>{{costprice}}</td>
                <td>{{sellByDate}}</td>
                <td class="br-none" style="padding: 12px 12px !important;">
                    <button type="button" id="btn-deleteProduct" class="deleteBtn btn btn-default" aria-label="deleteBtn">
                        <input id="id" name="id" value="{{id}}" type="hidden"/>
                        <span class="fa fa-remove"></span>
                    </button>
                </td>
            </tr>
            {{/productList}}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="pagination">
            <li><a href="/productList?page=1">&laquo;</a></li>

            <li class="prevPage">
                <a href="/productList?page={{pages.prevPage}}">&lsaquo;</a>
            </li>
            {{#pages.pageNums}}
                <li id="page{{page}}" class="">
                    <a href="/productList?page={{page}}">{{page}}
                    <span class="sr-only"></span>
                    </a>
                </li>
            {{/pages.pageNums}}
            <li class="nextPage">
                <a href="/productList?page={{pages.nextPage}}">&rsaquo;</a>
            </li>
            <li>
                <a href="/productList?page={{productList.totalPages}}">&raquo;</a>
            </li>
            <input type="hidden" id="lastPage" value="{{productList.totalPages}}"/>

        </ul>
    </nav>

</div>

{{>layout/footer}}