<!--footer-->
<div>
        <!-- Copyright -->
    <footer class="container-fluid">
        <div class="footer-copyright text-center py-6">
            © 2020 Copyright Park. All Right Reserved. Designed by park, This Site Only For 잉사장님
        </div>
        <!-- Copyright -->
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--buy.js 추가-->
<script src="/js/app/buy.js"></script>
<script src="/js/app/sell.js"></script>
<script src="/js/app/product.js"></script>
<script src="/js/app/memo.js"></script>
</body>
</html>