<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>잉사장</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/index.css?ver=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<div>
    <img class="background" src="/images/coffee.jpg">
    <div class="login-container">
        <a href="/main"><img class="main-img" src="/images/hululuuu_circle.png"></a>
        <div class="btn-container">
            {{^userName}}
                <button type="button" class="naver btn btn-success">네이버 로그인</button>
                <a href="/oauth2/authorization/google" role="button" class="google btn btn-default">구글 로그인</a>
            {{/userName}}
            {{#userName}}
                <button id="user" class="btn btn-default">{{userName}} 님 환영합니다.</button>
                <a href="/logout" role="button" class="btn btn-info active">Logout</a>
            {{/userName}}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

