{{>layout/header}}

<div class="container">
    <div class="page-header">
        <h1>구매 상세 내용</h1>
    </div>
    <div class="table-container">
        <table class="table table-bordered buy-detail">
            <tbody class="text-center">
            <tr>
                <th>구매 고유 ID</th>
                <td id="id">{{buy.id}}</td>
            </tr>
            <tr>
                <th>구매 상품</th>
                <td id="name">{{buy.name}}</td>
            </tr>
            <tr>
                <th>구매 수량</th>
                <td id="amount">{{buy.amount}}</td>
            </tr>
            <tr>
                <th>구매 가격</th>
                <td id="price">{{buy.price}}</td>
            </tr>
            <tr>
                <th>구매 상세 내용</th>
                <td id="content">{{buy.content}}</td>
            </tr>
            <tr>
                <th>구매 날짜</th>
                <td id="buydate">{{buy.buydate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="pull-left">
            <a href="/buyList" class="btn btn-default">목록으로</a>
        </div>
        <div class="pull-right">
            <a href="/manage/buy/{{buy.id}}" class="form-control btn btn-primary" id="get">수정하기</a>
        </div>

    </div>

</div>

{{>layout/footer}}