{{>layout/header}}

<div class="container">
    <input id="buy_id" type="hidden" value="${buyCommand.yiyingId}"/>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-success">
            <div class="panel-body">
                <form id="buy-form">
                <div>
                    <label>상품명</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${buyCommand?.yiyingName}" placeholder="상품이름" autofocus/>
                </div>
                <div>
                    <label>수량</label>
                    <input type="text" class="form-control" id="amount" name="amount" th:value="${buyCommand?.yiyingAmount}" placeholder="구매수량"/>
                </div>
                <div>
                    <label>가격</label>
                    <input type="text" class="form-control" id="price" name="price" th:value="${buyCommand?.yiyingPrice}" placeholder="구매가격"/>
                </div>
                <div>
                    <label>구매 날짜</label>
                    <input type="date" class="form-control" id="buydate" name="buydate" th:value="${buyCommand?.yiyingBuydate}"/>
                </div>
                <div>
                    <label>구매 상세 내역</label>
                    <textarea id="content" name="content" class="buy-content" placeholder="구매 상세 내용을 적어주세요." th:text="${buyCommand?.yiyingContent}"></textarea>
                </div>
                <div class="pull-left">
                    <a href="/yiying/buyList" class="btn btn-default">목록으로</a>
                </div>
                <div class="pull-right">
                    <button class="form-control btn btn-primary" id="update">수정 완료</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}