{{>layout/header}}
<div class="container conHeight">
    <div class="page-header">
        <h1>구매 목록</h1>
    </div>
    <div class="pull-left searchBuy">
        <input type="date" class="" id="start" name="start"/> ~
        <input type="date" class="" id="end" name="end"/>
        <button id="searchBuy" type="button" class="btn btn-default">검색</button>
    </div>
    <div class="pull-right" style="margin:10px 0;">
        <a href="/buy/save" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>구매내역 등록</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-bordered table-hover text-center">
            <thead>
            <tr>
                <th class="col-md-1 bl-none">#</th>
                <th class="col-md-2">구매한 물품</th>
                <th class="col-md-2">수량</th>
                <th class="col-md-2">가격</th>
                <th class="col-md-2">구매 날짜</th>
                <th class="col-md-1 br-none">삭제</th>
            </tr>
            </thead>
            <tbody>
            {{#buyList}}
            <tr class="text-center">
                <td class="bl-none">{{id}}</td>
                <td><a href="/buy/read/{{id}}">{{name}}</a></td>
                <td>{{amount}}</td>
                <td>{{price}}</td>
                <td>{{buydate}}</td>
                <td class="br-none" style="padding: 12px 12px;">
                    <button type="button" id="btn-deleteBuy" class="deleteBtn btn btn-default" aria-label="deleteBtn">
                        <input id="id" value="{{id}}" type="hidden"/>
                        <span class="fa fa-remove"></span>
                    </button>
                </td>
            </tr>
            {{/buyList}}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="pagination">
            <li><a href="/buyList?page=1">&laquo;</a></li>

            <li class="prevPage">
                <a href="/buyList?page={{pages.prevPage}}">&lsaquo;</a>
            </li>
            {{#pages.pageNums}}
            <li id="page{{page}}" class="">
                <a href="/buyList?page={{page}}">{{page}}
                    <span class="sr-only"></span>
                </a>
            </li>
            {{/pages.pageNums}}
            <li class="nextPage">
                <a href="/buyList?page={{pages.nextPage}}">&rsaquo;</a>
            </li>
            <li>
                <a href="/buyList?page={{buyList.totalPages}}">&raquo;</a>
            </li>
            <input type="hidden" id="lastPage" value="{{buyList.totalPages}}"/>

        </ul>
    </nav>

</div>
<!--buy.js 추가-->
<script src="/js/app/buy.js"></script>


{{>layout/footer}}