{{>layout/header}}

<div class="container">
    <div class="page-header">
        <h1>상품 등록</h1>
    </div>
    <br/><br/>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-success">
            <div class="panel-body">
                <form id="any-form">
                    <div class="form-group">
                        <label>구매자 아이디</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="구매자" autofocus/>
                    </div>
                    <div class="form-group">
                        <label>판매한 상품</label>
                        <select class="form-control" id="selectProduct" name="selectProduct">
                            <option value="">상품 선택</option>
                            {{#productNameList}}
                                <option value="{{price}}">{{name}}</option>
                            {{/productNameList}}
                        </select>
                        <input type="hidden" id="product" name="product"/>
                    </div>
                    <div class="form-group">
                        <label>판매 수량</label>
                        <input type="text" class="form-control" id="amount" name="amount" placeholder="판매수량"/>
                    </div>
                    <div class="form-group">
                        <label>판매 금액</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="판매 금액"/>
                    </div>
                    <div class="form-group">
                        <label>쇼핑몰에서 결제된 배송비</label>
                        <input type="text" class="form-control" id="pay_deliver" name="pay_deliver"
                               placeholder="결제된 배송비"/>
                    </div>
                    <div class="form-group">
                        <label>실제 배송비</label>
                        <input type="text" class="form-control" id="deliverPrice" name="deliverPrice"
                               placeholder="실제 배송비"/>
                    </div>
                    <div class="form-group">
                        <label>결제수단</label>
                        <select class="form-control" id="mofSelect" name="mofSelect">
                            <option value="">결제수단 선택</option>
                            <option value="3.74">신용카드</option>
                            <option value="1.65">계좌이체</option>
                            <option value="1">무통장입금</option>
                            <option value="3.85">휴대폰결제</option>
                            <option value="7.8">쿠팡판매</option>
                            <option value="3.74">기타</option>
                        </select>
                        <span id="commission"></span>
                        <input type="hidden" id="methodOfPayment" name="methodOfPayment"/>
                    </div>
                    <div class="form-group">
                        <label>수익</label>
                        <input type="text" class="form-control" id="profit" name="profit" placeholder="수익" readonly/>
                    </div>
                    <div class="form-group">
                        <label>판매 날짜</label>
                        <input type="date" class="form-control" id="selldate" name="selldate"/>
                    </div>
                    <br/><br/>
                    <div class="pull-left">
                        <a href="/sellList" class="btn btn-default">목록으로</a>
                    </div>
                    <div class="pull-right">
                        <button type="button" id="btn-saveSell" class="form-control btn btn-primary">작성 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}

<script>
    function calcProfit(commission, price, deliver) {
        var selectedOfMof = $('#methodOfPayment').val();
        var pay_deliverPrice = $('#pay_deliver').val();
        var pay_commission = Number(commission);
        var price = Number(price);
        var deliver = Number(deliver);
        var deliverPrice = Number(pay_deliverPrice);
        var naverComm = Number(0);
        if (selectedOfMof != '쿠팡판매') {
            naverComm = Math.round((price / 100) * 2);
        }
        var mofComm = Math.round(((price + deliverPrice) / 100) * pay_commission);
        return price + deliverPrice - (naverComm + mofComm) - deliver;
    }

    $("#mofSelect").change(function () {
        var commission = $(this).val();
        if (commission == "") {
            $("#commission").text("");
            $("#profit").val(0);
            return;
        }
        var price = $("#price").val();
        var deliver = $("#deliverPrice").val();
        $("#commission").text(commission + "%");
        $("#methodOfPayment").val($(this).find(":selected").text());
        var newVal = calcProfit(commission, price, deliver);
        $("#profit").val(newVal);
    });

    $("#price, #deliverPrice, #pay_deliver").on("propertychange change keyup paste input", function () {
        var commission = $("#mofSelect :selected").val();
        var price = $("#price").val();
        var deliver = $("#deliverPrice").val();
        if (!$("#methodOfPayment").val()) {
            return;
        }
        var newVal = calcProfit(commission, price, deliver);
        $("#profit").val(newVal);
    });

    $("#selectProduct").change(function () {

        var productPrice = $(this).val();
        var amount = $('#amount').val();

        if (productPrice == "") {
            $("#price").val(0);
            return;
        }

        $('#product').val($(this).find(":selected").text());

        var calcPrice = Number(productPrice) * Number(amount);

        $('#price').val(calcPrice);

        var commission = $("#mofSelect :selected").val();

        var price = $("#price").val();
        var deliver = $("#deliverPrice").val();

        if (!$("#methodOfPayment").val() || commission == "") {
            return;
        }

        var newVal = calcProfit(commission, price, deliver);

        $("#profit").val(newVal);


    });

    $("#amount").on("propertychange change keyup paste input", function () {

        var productPrice = $("#selectProduct :selected").val();
        var amount = $("#amount").val();

        if (!$("#selectProduct").val()) {
            return;
        }

        var calcPrice = Number(productPrice) * Number(amount);

        $('#price').val(calcPrice);

        var commission = $("#mofSelect :selected").val();
        var price = $("#price").val();
        var deliver = $("#deliverPrice").val();

        if (!$("#methodOfPayment").val() || commission == "") {
            return;
        }

        var newVal = calcProfit(commission, price, deliver);

        $("#profit").val(newVal);

    });

</script>

<link rel="stylesheet" href="/css/sell.css"/>